.sport-detail {
  position: relative;
  padding: 5rem;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 10px; /* Opcional: agregar bordes redondeados */
  min-height: 100vh; /* Asegura que ocupe al menos el 100% de la altura de la pantalla */
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.8); /* Fondo negro semitransparente */
  border-radius: 10px;
  z-index: 1;
}

.content-container {
  position: relative;
  z-index: 2;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding-top: 5rem;
  text-align: center;
  color: white;
}

.grid {
  margin-top: 2rem;
  position: relative;
  z-index: 2;
}

.spec-card {
  position: relative;
  background: rgba(255, 255, 255, 0.1); /* Fondo semi-transparente */
  border-radius: 10px; /* Bordes redondeados */
  overflow: hidden; /* Ocultar el contenido que sobresale */
  transition: transform 0.3s ease, box-shadow 0.3s ease; /* Transición para el hover */
  backdrop-filter: blur(10px); /* Efecto de desenfoque de fondo */
}

.spec-card:hover {
  transform: scale(1.05); /* Ampliar la tarjeta al hacer hover */
  box-shadow: 0 0 10px rgba(255, 153, 102, 1), 0 0 20px rgba(255, 153, 102, 0.8),
    0 0 40px rgba(255, 153, 102, 0.6); /* Sombra más intensa en hover */
}
