.features-image-container {
  position: relative;
}

.features-image-container::before {
  content: "";
  position: absolute;
  top: 35%;
  left: 50%;
  width: 150%;
  height: 50%;
  background: radial-gradient(circle, rgba(255, 159, 107, 0.7), transparent);
  transform: translate(-50%, -50%);
  filter: blur(30px); /* Difuminar el círculo */
  border-radius: 50%; /* Forma circular */
  z-index: -1; /* Asegura que esté detrás de la imagen */
}

@keyframes pulse {
  0% {
    transform: scale(1); /* Tamaño original */
  }
  50% {
    transform: scale(1.1); /* Escala a un 10% más grande */
  }
  100% {
    transform: scale(1); /* Regresa a tamaño original */
  }
}

/* Animation class */
.pulse {
  animation: pulse 3s infinite; /* Animación de pulso infinita */
}

/* Opcional: Para mejorar la visualización en móviles */
.feature-image {
  display: block; /* Asegúrate de que se muestre como bloque */
  width: 100%; /* Ajustar al ancho completo del contenedor */
  height: auto; /* Mantener la proporción de la imagen */
}

/* Mostrar la columna de imágenes en desktop */
@media (max-width: 768px) {
  .features-image-container {
    display: none; /* Mostrar la columna de imágenes en escritorio */
  }
}
