.sport-card {
  position: relative;
  width: 100%;
  height: 200px; /* Ajusta según sea necesario */
  background-size: cover;
  background-position: center;
  border-radius: 8px;
  margin-bottom: 16px;
  transition: transform 0.3s;
}

.sport-card:hover {
  transform: scale(1.05);
}

.overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.5); /* Fondo semi-transparente */
  color: white;
  padding: 16px;
  text-align: center;
}

.explore-button {
  background-color: #007bff; /* Color del botón */
  color: white;
  padding: 8px 16px;
  border: none;
  border-radius: 4px;
  text-decoration: none;
  transition: background-color 0.3s;
}

.explore-button:hover {
  background-color: #0056b3; /* Color al pasar el ratón */
}
