/* CSS anterior */

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

.wrapper {
  width: 100%;
  height: 200px;
  margin-top: 5rem;
  overflow: hidden;
  background-color: #ff9f6b;
  mask-image: linear-gradient(
    to right,
    rgba(0, 0, 0, 0),
    rgba(0, 0, 0, 1) 20%,
    rgba(0, 0, 0, 1) 80%,
    rgba(255, 123, 0, 0)
  );
  position: relative; /* Asegúrate de que la posición sea relativa */
}

@keyframes scrollLeft {
  from {
    left: 100%; /* Comienza desde el borde derecho */
  }
  to {
    left: -200px; /* Termina en el borde izquierdo */
  }
}

.item {
  width: 200px;
  height: 100px;
  border-radius: 6px;
  position: absolute;
  left: 100%; /* Comienza desde el borde derecho */
  animation-name: scrollLeft;
  animation-duration: 30s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  margin-right: 20px; /* Añade margen derecho a cada elemento */
}

.item1 {
  animation-delay: calc(30s / 8 * (8 - 1) * -1);
}
.item2 {
  animation-delay: calc(30s / 8 * (8 - 2) * -1);
}
.item3 {
  animation-delay: calc(30s / 8 * (8 - 3) * -1);
}
.item4 {
  animation-delay: calc(30s / 8 * (8 - 4) * -1);
}
.item5 {
  animation-delay: calc(30s / 8 * (8 - 5) * -1);
}
.item6 {
  animation-delay: calc(30s / 8 * (8 - 6) * -1);
}
.item7 {
  animation-delay: calc(30s / 8 * (8 - 7) * -1);
}
.item8 {
  animation-delay: calc(30s / 8 * (8 - 8) * -1);
}

@media (max-width: 768px) {
  .item {
    display: flex;
    animation-duration: 10s;
  }

  .wrapper {
    height: 110px;
  }
}
