.services-container {
  position: relative; /* Asegúrate de que el contenedor sea relativo */
  padding: 5rem 5rem;
  background-image: url("../../../assets/background/bg3.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 10px; /* Opcional: agregar bordes redondeados al contenedor */
}

.remove-overlay {
  position: relative;
  z-index: 2;
}

/* Overlay */
.services-container::before {
  content: ""; /* Necesario para que el pseudo-elemento se muestre */
  position: absolute; /* Posicionar el overlay */
  top: 0; /* Cubrir desde la parte superior */
  left: 0; /* Cubrir desde la parte izquierda */
  right: 0; /* Cubrir hasta la parte derecha */
  bottom: 0; /* Cubrir hasta la parte inferior */
  background-color: rgba(0, 0, 0, 0.4); /* Color negro semitransparente */
  border-radius: 10px; /* Asegúrate de que el overlay tenga bordes redondeados */
  z-index: 1; /* Coloca el overlay por encima de la imagen de fondo */
}

.services-list {
  position: relative;
  z-index: 2;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 1.5rem;
}

@media (min-width: 640px) {
  .services-list {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 768px) {
  .services-list {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (min-width: 1024px) {
  .services-list {
    grid-template-columns: repeat(4, 1fr);
  }
}

/* Nueva clase para las tarjetas */
.card {
  margin-top: 30px;
  position: relative;
  width: 100%;
  height: 254px;
  perspective: 1000px; /* Permite la perspectiva 3D */
}

.content {
  width: 100%;
  height: 100%;
  transform-style: preserve-3d; /* Habilita el efecto 3D */
  transition: transform 300ms ease; /* Transición suave al girar */
  position: relative;
  border-radius: 10px; /* Bordes redondeados para el contenido */
}

.front,
.back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden; /* Oculta el lado opuesto al girar */
  border-radius: 10px; /* Bordes redondeados */
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  background: rgba(
    60,
    55,
    55,
    0.5
  ); /* Fondo semitransparente para las tarjetas */
  backdrop-filter: blur(10px); /* Efecto de blur */
  transition: opacity 300ms ease; /* Transición para el cambio de opacidad */
}

.front {
  color: #ffffff;
}

.back {
  color: #ffffff;
  transform: rotateY(
    180deg
  ); /* Rota 180 grados para mostrar la parte posterior */
}

.back-content {
  display: flex;
  padding: 20px;
  flex-direction: column;
  gap: 10px;
  text-align: start;
}

.card:hover .content {
  transform: rotateY(180deg); /* Rota el contenido al hacer hover */
}

.icon {
  font-size: 2rem;
  color: #ff9f6b;
  margin-bottom: 10px;
}

.card h3 {
  font-size: 1.2rem;
  margin-bottom: 0.5rem;
}

.card p {
  font-size: 0.9rem;
  color: #cccccc;
}

/* Agregando opacidad en hover */
.card:hover .front {
  opacity: 0; /* Oculta la parte frontal al hacer hover */
}

.card:hover .back {
  opacity: 1; /* Muestra la parte trasera al hacer hover */
}

@media (max-width: 640px) {
  .services-container {
    padding: 2rem 1rem; /* Reduce el padding en dispositivos más pequeños */
  }

  .front,
  .back {
    height: 90%;
  }

  h1.title {
    font-size: 2.5rem; /* Título más pequeño */
  }

  a.btn {
    padding: 0.75rem 1.5rem; /* Reduce padding en botones */
    font-size: 0.875rem;
  }

  .card h3 {
    font-size: 1rem; /* Reduce tamaño del texto en las tarjetas */
  }

  .card p {
    font-size: 0.75rem; /* Reduce tamaño del párrafo en tarjetas */
  }

  .icon {
    font-size: 1.75rem; /* Reduce tamaño del ícono en tarjetas */
  }
  .paragraph {
    font-size: 0.8rem; /* Tamaño de texto más pequeño en pantallas móviles */
  }
}
