html,
body {
  height: 100%;
  margin: 0;
}

app-root {
  display: flex;
  flex-direction: column;
  min-height: 100vh; /* Asegura que el contenido ocupe al menos toda la altura de la ventana */
}

main {
  flex-grow: 1; /* Hace que el contenido crezca para ocupar el espacio disponible */
}
