<footer class="bg-[#171b24]">
  <div class="mx-auto w-full max-w-screen-xl p-4 py-6 lg:py-8">
    <div class="md:flex md:justify-between">
      <!-- <div class="mb-6 md:mb-0">
        <a class="flex items-center">
          <div class="flex justify-center items-center relative">
            <div>
              <img
                src="../../../../assets/logos/Logo.png"
                class="h-10"
                alt="NeoApp Logo"
              />
            </div>
            <div class="absolute top-3 left-16">
              <h3 class="title text-2xl text-white">NeoApp</h3>
            </div>
          </div>
        </a>
      </div> -->
      <div class="grid grid-cols-2 gap-8 sm:gap-6 sm:grid-cols-2">
        <div>
          <h2 class="mb-6 text-sm font-semibold text-white uppercase">
            Useful Links
          </h2>
          <ul class="text-[#ff9f6b] font-medium">
            <li class="mb-4">
              <a href="https://flowbite.com/" class="hover:underline"
                >Our Perks</a
              >
            </li>
            <li>
              <a href="https://tailwindcss.com/" class="hover:underline"
                >Admin Panel Features</a
              >
            </li>
          </ul>
        </div>

        <div>
          <h2 class="mb-6 text-sm font-semibold text-white uppercase">Legal</h2>
          <ul class="text-[#ff9f6b] font-medium">
            <li class="mb-4">
              <a href="#" class="hover:underline">Privacy Policy</a>
            </li>
            <li>
              <a href="#" class="hover:underline">Terms &amp; Conditions</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <hr class="my-6 border-gray-700 sm:mx-auto lg:my-8" />
    <div class="sm:flex sm:items-center sm:justify-between">
      <span class="text-sm text-gray-400 sm:text-center">
        © 2025
        <a href="https://flowbite.com/" class="hover:underline text-[#ff9f6b]"
          >NeoApp™</a
        >. All Rights Reserved.
      </span>
    </div>
  </div>
</footer>
