<div class="mt-20">
  <div class="text-center">
    <h2 class="text-3xl title font-bold text-white">
      Drive Success with Our Unified Sports Management Solution
    </h2>
    <p class="mt-4 paragraph text-lg text-[#ef8354]">
      Where Innovation Meets Engagement for Unmatched Results
    </p>
  </div>

  <div class="flex sm:flex-row flex-col gap-2 justify-center mt-14">
    <!-- Card 1 -->
    <div class="max-w-sm mx-4 mb-6">
      <div
        class="bg-white rounded-3xl shadow-2xl border border-[#ef8354] shadow-[#ef8354] p-10 h-full flex flex-col"
      >
        <div class="flex items-center mb-6">
          <div class="bg-[#ff9f6b] text-white rounded-full p-4">
            <i class="fas fa-cogs fa-lg text-3xl"></i>
            <!-- Ícono de Configuración -->
          </div>
        </div>
        <h3 class="text-3xl font-semibold title text-[#2d3142]">
          All-in-One Management Solution
        </h3>
        <p class="text-gray-500 paragraph flex-grow">
          Simplify your sports operations. From check-ins to financial reports,
          everything you need is integrated in one user-friendly platform.
        </p>
      </div>
    </div>

    <!-- Card 2 -->
    <div class="max-w-sm mx-4 mb-6">
      <div
        class="bg-white rounded-3xl shadow-2xl shadow-[#ef8354] border border-[#ef8354] p-10 h-full flex flex-col"
      >
        <div class="flex items-center mb-6">
          <div class="bg-[#ff9f6b] text-white rounded-full p-4">
            <i class="fas fa-user-friends fa-lg text-3xl"></i>
            <!-- Ícono de Amigos -->
          </div>
        </div>
        <h3 class="text-3xl font-semibold title text-[#2d3142]">
          Empowered Member Experience
        </h3>
        <p class="text-gray-500 paragraph flex-grow">
          Enhance member satisfaction with personalized profiles, easy booking
          options, and instant access to membership details.
        </p>
      </div>
    </div>

    <!-- Card 3 -->
    <div class="max-w-sm mx-4 mb-6">
      <div
        class="bg-white rounded-3xl shadow-2xl shadow-[#ef8354] border border-[#ef8354] p-10 h-full flex flex-col"
      >
        <div class="flex items-center mb-6">
          <div class="bg-[#ff9f6b] text-white rounded-full p-4">
            <i class="fas fa-diagram-project fa-lg text-3xl"></i>
            <!-- Ícono de Gráfico de Barras -->
          </div>
        </div>
        <h3 class="text-3xl font-semibold title text-[#2d3142]">
          Insights That Drive Success
        </h3>
        <p class="text-gray-500 paragraph flex-grow">
          Utilize real-time data and analytics to make informed decisions. With
          our intuitive dashboard, track performance, member activities, and
          financial health effortlessly.
        </p>
      </div>
    </div>
  </div>
  <div class="text-center mt-8 mb-20">
    <p class="text-2xl text-white paragraph">
      <span class="text-[#ef8354]">More than 100</span> companies use NeoApp to
      optimize their sports management platform.
    </p>
    <a
      (click)="openModal()"
      class="inline-flex btn justify-center items-center py-3 px-5 text-base font-bold text-white bg-[#ef8354] rounded-lg shadow-md hover:shadow-lg transition-all duration-300 ease-in-out mt-4"
    >
      Schedule a Demo
      <svg
        class="w-3.5 h-3.5 ms-2 rtl:rotate-180"
        aria-hidden="true"
        xmlns="http://www.w3.org/2000/svg"
        fill="none"
        viewBox="0 0 14 10"
      >
        <path
          stroke="currentColor"
          stroke-linecap="round"
          stroke-linejoin="round"
          stroke-width="2"
          d="M1 5h12m0 0L9 1m4 4L9 9"
        />
      </svg>
    </a>
  </div>
</div>
