.card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 1rem; /* Espaciado superior */
}

.card {
  flex: 1 1 300px; /* Permite que cada tarjeta tenga un ancho mínimo de 300px */
  margin: 1rem; /* Espacio entre las tarjetas */
}

.text-center {
  margin-top: 24px; /* Margen superior */
}

/* Ajustes de texto para pantallas pequeñas */
@media (max-width: 640px) {
  .title {
    font-size: 1.5rem; /* Ajusta el tamaño de la fuente */
  }

  .paragraph {
    font-size: 0.875rem; /* Ajusta el tamaño de la fuente */
  }

  .text-2xl {
    font-size: 1.25rem; /* Ajusta el tamaño de la fuente */
  }

  .card {
    margin: 0.5rem; /* Reduce el margen para que las tarjetas se ajusten mejor */
  }
}
