.custom-button {
  font-family: inherit;
  font-size: 20px;
  background: #ff9f6b;
  color: white;
  padding: 0.7em 1em;
  padding-left: 0.9em;
  display: flex;
  align-items: center;
  border: none;
  border-radius: 5px;
  overflow: hidden;
  transition: all 0.2s;
  cursor: pointer;
  margin-left: 110px;
}

.custom-button span {
  display: block;
  margin-left: 0.3em;
  transition: all 0.3s ease-in-out;
}

.custom-button svg {
  display: block;
  transform-origin: center center;
  transition: transform 0.3s ease-in-out;
}

.custom-button:hover .svg-wrapper {
  animation: fly-1 0.6s ease-in-out infinite alternate;
}

.custom-button:hover svg {
  transform: translateX(1.2em) rotate(45deg) scale(1.1);
}

.custom-button:hover span {
  transform: translateX(5em);
}

.custom-button:active {
  transform: scale(0.95);
}

@keyframes fly-1 {
  from {
    transform: translateY(0.1em);
  }

  to {
    transform: translateY(-0.1em);
  }
}

.custom-radio {
  display: flex;
  align-items: center;
  cursor: pointer;
  position: relative;
}

.custom-radio input {
  display: none; /* Oculta el botón de radio original */
}

.radio-check {
  width: 14px; /* Tamaño del círculo */
  height: 14px; /* Tamaño del círculo */
  border: 2px solid #ff9f6b; /* Color del borde */
  border-radius: 50%; /* Hace que sea un círculo */
  margin-right: 10px; /* Espacio entre el círculo y el texto */
  background-color: transparent; /* Fondo transparente */
  transition: box-shadow 0.3s ease; /* Transición suave para la sombra */
}

.custom-radio input:checked + .radio-check {
  background-color: #ff9f6b;
  box-shadow: 0 0 0 6px rgba(255, 159, 107, 0.39); /* Efecto de sombra alrededor */
}

.custom-radio:hover .radio-check {
  border-color: #ff9f6b; /* Color del borde al pasar el mouse */
}
